* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 100%;
}


h1 {
    font-size: 23px;
    font-weight: 300;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
   
}

.logo {
    padding-top: 50px;
    padding-bottom: 30px;
}

.logo img {
    width: 25%;
}


.subheading {
    padding-top: 15px;
    font-size: 16px;
    padding-bottom: 20px;
}

input[type=email], select {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    margin: 8px 0;
    color: hsl(223, 100%, 88%);
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 100px;
    margin-bottom: 0;
  }

  input[type=submit] {
    width: 100%;
    background-color: hsl(223, 87%, 63%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 600;
    -webkit-box-shadow: 0px 10px 39px -4px rgba(79,126,243,0.44);
    -moz-box-shadow: 0px 10px 39px -4px rgba(79,126,243,0.44);
    box-shadow: 0px 10px 39px -4px rgba(79,126,243,0.44);
  }

  .screenshot {
      padding-top: 50px;
      padding-bottom:70px;
  }
  
  .screenshot img{
      width: 100%;
      max-width: 600px;
  }

  .social-media {
      width: 150px ;
      display: flex;
      justify-content: space-evenly;
      color: hsl(223, 87%, 63%);
  }

  .social-media i {
      padding: 10px;
      border: 1px solid hsl(223, 100%, 88%);
      border-radius: 100px;
  }

  footer {
      font-size: 12px;
      padding-top: 20px;
      color: hsl(0, 0%, 59%);
  }

  @media only screen and (min-width: 600px) {
    .newsletter {
        display: flex;
        flex-direction: row;
    }

    input[type=submit] {
        width: 40%;
        
      }
  }